<!DOCTYPE html>
<html>

<head>
	<title>Login Register App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/main.css">


	<script type="text/javascript">
		let login = null;
		let check = true;

		function checkLogin(){
			login =	document.getElementById("login");
			<% data.users.forEach(elem => { %>
			if(login.value === "<%= elem.login %>" && login.value !== "<%= login %>" ) {
				login.style.borderColor = "red";
				check = false;
				return;
			}
			<% }) %>
			check = true;
			login.style.borderColor = null;
		}

		function checkScriptStatus(){

			let script_checkScriptStatus = document.getElementById("script");
			if(script_checkScriptStatus) document.getElementById("script").value;
			else "";
			return script_checkScriptStatus === "<%= JSON.parse(data.scripts[0].unique_id) %>";
		}

		$(document).ready(() => {
			let supervisor = "";
			let script = "";

			$("#form1").submit((event) => {
				let fileIdentification = document.querySelector("input[name='fileIdentification']");
				let fileIdentificationValue = "";
				if(fileIdentification) fileIdentificationValue = fileIdentification.value;

				let email = document.querySelector("input[name='email']");
				let emailValue = "";
				if(email) emailValue = email.value;
				event.preventDefault();
				if(!check) return;
				if(document.getElementById("supervisor") !== null
						&& document.getElementById("script") !== null){
					supervisor = document.getElementById("supervisor").value;
					script = document.getElementById("script").value;
				}

				$.ajax({
					type: 'POST',
					url: '/editProfile',
					data: {
						login: (document.querySelector("input[name='login']")).value,
						name: document.querySelector("input[name='name']").value,
						surname: document.querySelector("input[name='surname']").value,
						patronymic: document.querySelector("input[name='patronymic']").value,
						role: document.querySelector("select[name='role']").value,
						password: document.querySelector("input[name='password']").value,
						supervisor: supervisor,
						script: script,
						id: "<%= id %>",
						fileIdentification: fileIdentificationValue,
						email: emailValue,
						checkScript: checkScriptStatus()
					},
					dataType: "json",
					success: (response) => {
						if (response.Success === "redirect") {
							window.location.href = "/userInfo"
						}
					},
				})
			});
		});
	</script>
</head>

<body>

	<div class="col-md-4 col-md-offset-4 form-card">
		<div>
			<p>Профиль <%= login %></p>
		</div>
		<div class="form-group">
			<form id="form1" method="post">
				<input value="<%= login %>" id="login" type="text" name="login" placeholder="Логин" required class="form-control" onchange="checkLogin()"><br />
				<input value="<%= name %>" type="text" name="name" placeholder="Имя" required class="form-control"><br />
				<input value="<%= surname %>" type="text" name="surname" placeholder="Фамилия" required class="form-control"><br />
				<input value="<%= patronymic %>" type="text" name="patronymic" placeholder="Отчество" required class="form-control"><br />
				<select value="<%= role %>" class="form-control" name = "role" required onchange="checkValue()">
					<option value="admin">Администратор</option>
					<option value="supervisor">Руководитель</option>
					<option value="employee">Сотрудник</option>
				</select><br/>
				<div id = "add"></div>
				<input value="<%= password %>" type="password" name="password" placeholder="Пароль" required class="form-control"><br />
				<input type="submit" value="Edit" class="btn btn-success">
			</form>
		</div>

		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div id="LangTable"><a href="/profile" id="aa"></a>
		</div>
	</div>
</body>
<script>
	let select = document.querySelector("select");
	let div = document.getElementById("add");
	select.querySelectorAll("option").forEach(elem => {
		if(elem.value === "<%= role %>") {
			elem.selected = true;
			checkValue();
		}
	});

	function checkValue(){
		div.innerHTML = '';
		if(select.value === "employee"){
			div.innerHTML += `
			<input value = "<%= fileIdentification %>" type = "text" required class="form-control" name = "fileIdentification" placeholder = "Индетификатор"><br>
				<select class = 'form-control' id = 'supervisor'>
					<% data.users.forEach(elem => { %>
					<% if(elem.role === "supervisor") {%>
						<option value='<%= elem.login %>'><%= elem.name %> <%= elem.surname %> <%= elem.patronymic %></option>
					<% } })%>
				</select><br>
				<select class = 'form-control' id='script'>
					<% data.scripts.forEach(elem => {
						if(elem.status !== "Архивирован"){ %>
							<option value='<%= elem.unique_id %>'><%= elem.name %> <%= elem.surname %> <%= elem.patronymic %></option>
						<%}})%>
				</select><br>
			`;
		}else if(select.value === "supervisor"){
			div.innerHTML += `<input value = "<%= email %>" type = "email" required class="form-control" name = "email" placeholder = "Email"><br>`;
		}
	}
</script>
</html>